@import url(./global.css);
@import url(./fonts.css);
@import url(./utils.css);
body {
  margin: 0;
  padding-bottom: 48px; }

header {
  display: flex;
  align-items: center;
  margin-left: 108px;
  border-style: solid;
  border-radius: 12px;
  border-color: white;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1320px;
  position: fixed;
  margin-top: 24px;
  height: 70px;
  z-index: 1; }
  header a {
    padding-top: 17px; }

.header_block {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.header_logo {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #2D66EE;
  padding-left: 24px;
  padding-bottom: 15px; }

.menu {
  display: flex;
  align-items: center; }
  .menu a {
    text-decoration: none;
    color: black; }

.menu li {
  display: inline;
  padding: 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif; }

.contacts {
  display: flex;
  align-items: center; }

.contacts li {
  display: inline;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #2D66EE; }

span {
  color: #2D66EE; }

.main-banner {
  padding-top: 120px;
  background-color: #F2F4F7;
  height: 1000px;
  overflow: hidden; }

.software_development {
  margin-left: 108px; }
  .software_development h1 {
    font-size: 36px; }
    .software_development h1 p {
      font-size: 15px; }

.number_block {
  margin-left: 108px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px; }

.name_block {
  padding-top: 34px;
  padding-bottom: 26px;
  display: flex;
  justify-content: flex-start; }

.name_block button {
  padding: 11px 24px;
  border: none;
  border-radius: 8px;
  text-align: left;
  background-color: #2D66EE; }

.button_text_consultation {
  color: white; }

.input_name_text {
  color: #667085;
  font-size: 13px; }

.input_name {
  position: relative;
  right: 90px;
  top: 20px;
  height: 23px;
  border: none;
  border-bottom: 1px solid #D0D5DD;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  display: inline;
  font-size: 17px; }
  .input_name:focus {
    border-bottom: 1px solid #2D66EE; }

.input_fname_text {
  color: #667085;
  font-size: 13px; }

.input_fname {
  position: relative;
  right: 60px;
  top: 20px;
  height: 23px;
  border: none;
  border-bottom: 1px solid #D0D5DD;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  font-size: 17px; }

.input_fname:focus {
  border-bottom: 1px solid #2D66EE; }

.image_main {
  display: grid;
  grid-template-columns: repeat(2, 310.49px);
  grid-template-rows: repeat(2, 672.31px);
  column-gap: 20px;
  row-gap: 20px;
  transform: rotate(-12deg);
  position: relative;
  left: 1000px;
  bottom: 1300px;
  width: 620px; }
  .image_main img {
    width: 310px;
    height: 672px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px; }

footer {
  margin: auto;
  background-color: #101828;
  color: white;
  border-style: solid;
  border-color: #101828;
  border-radius: 12px;
  width: 1450px; }
  footer h1 {
    text-align: center; }
  footer p {
    text-align: center; }

.footer_contact {
  display: flex;
  justify-content: space-around; }

.contacts_container {
  display: flex;
  align-items: center; }
  .contacts_container span {
    padding-left: 13px; }

.contact-label {
  font-size: 14px;
  color: #98A2B3; }

.contacts_element p {
  padding-right: 50px; }

.sprite {
  fill: #2D66EE; }

.mail {
  width: 20px;
  height: 16px; }

.phone {
  width: 14px;
  height: 20px; }

.arrow {
  width: 7px;
  height: 12px; }

.sprite_phone_gray {
  width: 14px;
  height: 20px;
  fill: #98A2B3; }

.sprite_mail_gray {
  width: 20px;
  height: 16px;
  fill: #98A2B3; }

.sprite_fille_gray {
  height: 20px;
  width: 17px;
  fill: #98A2B3; }

.sprite_geolocation_gray {
  width: 16px;
  height: 20px;
  fill: #98A2B3; }

.sprite_global {
  fill: white;
  height: 16px;
  width: 30px; }

/*# sourceMappingURL=style.css.map */
